div.jwl-component {
	font-family: Arial,Verdana,sans-serif;
	font-size: 1em;
}
.jwl-navigation {
	margin: 1em 0.5em;
}
.jwl-navigation .jwl-action-button {
	margin: 0 0.2em;
}
.jwl-form input[type=text] {
	width: 100%;
}
a.jwl-action-button, a.jwl-action-button:visited, .jwl-action-button input[type=submit], .jwl-form input[type=submit] {
	padding: 0.3em 0.6em;
	text-decoration: none;
	font-size: 1.1em;
	color: #555;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid lightGrey;
	font-weight: normal;
	background-color: #E6E6E6;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.5, rgb(237,237,237)),
		color-stop(0.5, rgb(233,233,233))
		);
	background-image: -moz-linear-gradient(
		center top,
		rgb(237,237,237) 50%,
		rgb(233,233,233) 50%
		);
	border: 1px solid #d3d3d3;
}

a.jwl-action-button:hover, .jwl-action-button input[type=submit]:hover, .jwl-form input[type=submit]:hover {
	border-color: #999;
	background-color: #DADADA;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.5, rgb(228,228,228)),
		color-stop(0.5, rgb(227,227,227))
		);
	background-image: -moz-linear-gradient(
		center top,
		rgb(228,228,228) 50%,
		rgb(227,227,227) 50%
		);
	color: #212121;
	cursor: pointer;
}

.jwl-grid {
    width: 100%;
    margin: 1.2em .3em .3em .3em;
    color: black;
	border-collapse: collapse;
}
.jwl-grid tr {
	background-color: #F5F5ED;
}
.jwl-grid tr:nth-child(2n) {
	background-color: white;
}
.jwl-grid th {
	padding: .3em;
    border: 1px solid white;
}
.jwl-grid td {
    padding: .4em .6em;
    border: 1px solid white;
}
.jwl-grid td a {
    text-decoration: none;
    color: #49A3F2;
	display: block;
	float: left;
}
.jwl-grid td a:hover {
    text-decoration: underline;
    color: #FF008B;
}
.jwl-grid a {
    color: white;
	display: block;
	text-decoration: none;
	margin-right: 0.3em;
}

.jwl-grid a:hover {
    color: #FF00DB;
	text-decoration: underline;
}

.jwl-grid thead tr {
	font-size: 1.16em;
	color: #bababa;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
	background: -moz-linear-gradient(top, #333, #111);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#111');	
}

.jwl-view-title, .jwl-view-text {
    border-bottom: 1px dotted #CCCCCC;
}

.jwl-view-tags {
    margin-top: 3px;
    padding-bottom: 4px;
    border-bottom: 1px dotted #F5F5F5;
}
/* Change 'span' to 'a' after refactoring where tag will link
 to search articles with the same tag */
.jwl-view-tags span { 
	margin: 0px 5px 0px 0px;
    padding: 0px 0px 0px 15px;
    background: url('img/tag-small-icon.png') no-repeat left 1px;
}

.jwl-view-attachments {
    margin-top: 3px;
    padding-bottom: 4px;
    border-bottom: 1px dotted #F5F5F5;
}
.jwl-view-attachments a {
    margin: 0px 5px 0px 0px;
    padding: 0px 0px 0px 15px;
    background: url('img/General-Document-icon.png') no-repeat left center;
}

.jwl-view-stars {
    margin-top: 3px;
    margin-bottom: 5px;

}

.jwl-view-link-back, .jwl-view-link-edit, .jwl-view-link-attach {
    float: left;
    margin-right: 5px;
}


/******************************
* Search State
*/
.jwl-search-input input {
    width: 100%;
    padding: 5px;
}
.jwl-search-inputSubmit {
    margin-left: 20px;
}


/******************************
* Flash messages
*/
.jwl-flash-message {
	background-position: 0.5em 50%;
	color: black;
	padding: 1em;
	background-repeat: no-repeat;
	padding: 1.5em 1em 1.5em 60px;
	margin: 0em 0em 2em 0em;
}

.jwl-flash-info {
	background-image: url("img/Info.png");
}

.jwl-flash-warning {
	background-image: url("img/Warning.png");
}

.jwl-flash-error {
	background-image: url("img/Critical.png");
}



.jwl-panel {
    background-color: #FFFFFF;
    border-color: #BED6F8;
    background-position: right top;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    padding: 1px
}

.jwl-panelHeader {
    background-position: left top;
    background-repeat: repeat-x;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding: 2px;
    background-color: #BED6F8;
    border-color: #BED6F8;
    color: #000000;
    font-weight: bold;
    background-image: url("/bugtrack/a4j/g/3_3_1.GAorg.richfaces.renderkit.html.GradientA/DATB/eAH7!!3Tj2v7mAAZZAV3");
    font-size: 12px !important;
    background: url("/SeamWiki/jwl/img/3DlayoutBlue3Big.png") repeat-x scroll 0 0 #D0DBFF
}

.jwl-panelBody {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    color: #000000;
    background-color: transparent;
    overflow: auto;
}

.jwl-forum-pageTable {
    width: 100%;
    text-align: center;
}

.jwl-forum-pageButton {
    width: 5%;
}

.jwl-forum-pageText {
    width: 80%;
}

.jwl-forum-postHeader {
    width: 100%;
}

.jwl-forum-postHeaderTitle {
    text-align: left;
    font-size: 160%;
}

.jwl-forum-postAuthor {
    line-height: 150%;
    font-size: 75%;
    text-align: right;
}

.jwl-forum-post {
    width: 65%;
    border: 1px solid #CCCCCC;
    padding: 5px;
    background: url("/SeamWiki/jwl/img/postBackground.png") repeat-x;
}

.jwl-forum-actionsForm {
    display: inline;
	width:20%;
}

.jwl-forum-replies {
    width: 100%;
	
}

.jwl-forum-replyActions {
	 padding-right: 0.5em;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
}

.jwl-forum-replies-delete{
	margin: 0.5em;
}

blockquote{
	border:1px solid #C0C0C0;
	padding: 0.5em;
}


/*
 * star rating
 */
.jwl-view-stars div a {
    background: transparent url(img/sprite_rate.png) 0 0 no-repeat;
    display: inline-block;
    height: 17px;
    width: 9px;
    text-indent: -999em;
    overflow: hidden;
}

.jwl-view-stars a.jwl-rating-right {
    background-position: 0 -17px;
    padding-right: 1px;
}

.jwl-view-stars a.jwl-rating-over {
    background-position: 0 -34px;
}

.jwl-view-stars a.jwl-rating-over.jwl-rating-right {
    background-position: 0 -51px;
}

.jwl-view-stars a.jwl-rating {
    background-position: 0 -68px;
}

.jwl-view-stars a.jwl-rating.jwl-rating-right {
    background-position: 0 -85px;
}

.jwl-smallstars div {
    background: transparent url(img/sprite_rate_small.png) 0 0 no-repeat;
    display: inline-block;
    height: 15px;
    width: 8px;
    text-indent: -999em;
    overflow: hidden;
}

.jwl-smallstars div.jwl-rating-right {
    background-position: 0 -15px;
    padding-right: 0px;
}

.jwl-smallstars div.jwl-rating {
    background-position: 0 -60px;
}

.jwl-smallstars div.jwl-rating.jwl-rating-right {
    background-position: 0 -75px;
}

.jwl-acl-preview {
	width: auto;
}
.jwl-acl-preview tr td {
	text-align: center;
}
.jwl-acl-preview tr td:nth-child(1), .jwl-acl-preview tr td:nth-child(2) {
	text-align: left;
}

