/*
* CSS for JSF Wiki Library.
*/

/*******************************************
* Action button style
*/
#jwl {
	font-size: 1.1em;
}
a.jwl-action-button, a.jwl-action-button:visited, .jwl-action-button input[type=submit] {
	padding: .3em 1em;
	text-decoration: none;
	font-size: 1.1em;
	color: #555;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid lightGrey;
	font-weight: normal;
	background-color: #E6E6E6;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.5, rgb(237,237,237)),
		color-stop(0.5, rgb(233,233,233))
		);
	background-image: -moz-linear-gradient(
		center top,
		rgb(237,237,237) 50%,
		rgb(233,233,233) 50%
		);
	border: 1px solid #d3d3d3;
}

a.jwl-action-button:hover, .jwl-action-button input[type=submit]:hover {
	border-color: #999;
	background-color: #DADADA;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.5, rgb(228,228,228)),
		color-stop(0.5, rgb(227,227,227))
		);
	background-image: -moz-linear-gradient(
		center top,
		rgb(228,228,228) 50%,
		rgb(227,227,227) 50%
		);
	color: #212121;
	cursor: pointer;
}

a.jwl-action-button:active {
	background-color: white;
	background-image: none;
}

/*
* Action button style smaller
*/
a.jwl-action-button-small, a.jwl-action-button-small:visited {
	margin: .5em .2em;
	padding: .15em .55em;
	text-decoration: none;
	font-size: 1.1em;
	color: #555;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid lightGrey;
	font-weight: normal;
	background-color: #E6E6E6;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.5, rgb(237,237,237)),
		color-stop(0.5, rgb(233,233,233))
		);
	background-image: -moz-linear-gradient(
		center top,
		rgb(237,237,237) 50%,
		rgb(233,233,233) 50%
		);
	border: 1px solid #d3d3d3;
}

a.jwl-action-button-small:hover {
	border-color: #999;
	background-color: #DADADA;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.5, rgb(228,228,228)),
		color-stop(0.5, rgb(227,227,227))
		);
	background-image: -moz-linear-gradient(
		center top,
		rgb(228,228,228) 50%,
		rgb(227,227,227) 50%
		);
	color: #212121;
	cursor: pointer;
}

a.jwl-action-button-small:active {
	background-color: white;
	background-image: none;
}

a.jwl-action-link {
    margin-right: 5px;
}
.jwl-paging {
	display: block;
	margin: 1em .3em;
}
a.jwl-createNewArticle {
    margin: .5em .3em;
}


/*****************************************
* Listing
*/

/*
* Table
*/
table.jwl-tableOfArticles {
    width: 100%;
    margin: 1.2em .3em .3em .3em;
    color: black;
}

table.jwl-tableOfArticles td {
    background-color: #F5F5ED;
    padding: .4em .6em;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

table.jwl-tableOfArticles td a {
    text-decoration: none;
    color: #49A3F2;
	display: block;
	float: left;
}

table.jwl-tableOfArticles td a:hover {
    text-decoration: underline;
    color: #FF008B;
}

/*
* Head of table
*/
thead.jwl-tableHearderOfArticles th {
	/*    background-color: #303030; */
    color: #bababa;
    border-right: 1px solid white;
    padding: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
	background: -moz-linear-gradient(top, #333, #111);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#111');
}

thead.jwl-tableHearderOfArticles a {
    color: white;
	display: block;
	text-decoration: none;
}

thead.jwl-tableHearderOfArticles a:hover {
    color: #FF00DB;
	text-decoration: underline;
}

/******************************
* View State
*/
.jwl-view-title, .jwl-view-text {
    border-bottom: 1px dotted #CCCCCC;
}

.jwl-view-text {
}

.jwl-view-tags {
    margin-top: 3px;
    padding-bottom: 4px;
    border-bottom: 1px dotted #F5F5F5;
}
/* Change 'span' to 'a' after refactoring where tag will link
 to search articles with the same tag */
.jwl-view-tags span { 
	margin: 0px 5px 0px 0px;
    padding: 0px 0px 0px 15px;
    background: url('img/tag-small-icon.png') no-repeat left 1px;
}

.jwl-view-attachments {
    margin-top: 3px;
    padding-bottom: 4px;
    border-bottom: 1px dotted #F5F5F5;
}
.jwl-view-attachments a {
    margin: 0px 5px 0px 0px;
    padding: 0px 0px 0px 15px;
    background: url('img/General-Document-icon.png') no-repeat left center;
}

.jwl-view-stars {
    margin-top: 3px;
    margin-bottom: 5px;

}

.jwl-view-link-back, .jwl-view-link-edit, .jwl-view-link-attach {
    float: left;
    margin-right: 5px;
}


/******************************
* Create/Edit State
*/

/*
* Labels
*/
.jwl-edit-titleLabel, .jwl-edit-title-label, .jwl-edit-text-label, .jwl-edit-tags-label, .jwl-edit-changeNote-label {
    float: left;
    width: 80px;
    margin-top: 9px;
    margin-right: 5px;
}

.jwl-edit-titleLabel {
    margin-top: 6px;
}

.jwl-edit-text-label {
    position: relative;
    top: 20px;
}

/*
* Title
*/
.jwl-edit-title {
    color: #7890AB;
    font-size: 1.6em;
    margin-top: 0px;
    margin-bottom: 14px;
    font-weight: bold;
}

/*
* Inputs
*/
.jwl-edit-title-input input, .jwl-edit-tags-input input, .jwl-edit-changeNote-input input {
	width: 490px;
	padding: 5px;
}

.jwl-edit-title {
}

.jwl-edit-title-input {
    margin-bottom: 10px;
}
#jwl-edit-text {
    margin-left: 85px;
    width: 490px;
}

/*
* Messages
*/
.jwl-edit-warningMessage {
    color: #C90000;
    margin-top: 15px;
    margin-bottom: 5px;
}


/**
* Attach State
*/

/*
* Labels
*/
.jwl-upload-fileName-label, .jwl-upload-file-label, .jwl-upload-fileDescription-label {
    float: left;
    width: 80px;
    margin-top: 9px;
}

.jwl-upload-file-label, #jwl-upload-fileItem, .jwl-action-button #jwl-upload-save {
	float: none;
	display: block;
}
.jwl-upload-fileName-input input, .jwl-upload-file-input input, .jwl-upload-fileDescription-input input {
    width: 490px;
    padding: 5px;
}
.jwl-upload-inputSubmit {
    margin-top: 20px;
}


/******************************
* Search State
*/
.jwl-search-input input {
    width: 100%;
    padding: 5px;
}
.jwl-search-inputSubmit {
    margin-left: 20px;
}


/******************************
* Flash messages
*/
.jwl-flash-message {
	background-position: 0.5em 50%;
	color: black;
	padding: 1em;
	background-repeat: no-repeat;
	padding: 1.5em 1em 1.5em 60px;
	margin: 0em 0em 2em 0em;
}

.jwl-flash-info {
	background-image: url("img/Info.png");
}

.jwl-flash-warning {
	background-image: url("img/Warning.png");
}

.jwl-flash-error {
	background-image: url("img/Critical.png");
}